html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  height: inherit;
}

li {
  list-style: none;
}

ol {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

nav {
  align-self: center;
}

.nav-list-item {
  margin: 0 20px;
  color: #3E5C76;
  text-shadow: 1px 1px 2px #0D1321, 0 0 1em #0D1321, 0 0 0.2em #0D1321;
}

.nav-list-item>a:hover {
  text-shadow: 1px 1px 2px #F0EBD8, 0 0 1em #F0EBD8, 0 0 0.2em #F0EBD8;
}

.App {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.home-body-images {
  width: 350px;
  height: 220px;
  border: 4px solid #0D1321;
  border-radius: 7px;
  background-color: #0D1321;
  box-shadow: 5px 5px 10px 14px #0D1321, -5px -5px 14px #0D1321;
  transition-duration: 350ms;
}

.home-body-images:hover {
  width: 400px;
  height: 270px;
  transition-duration: 350ms;
}

#home-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: linear-gradient(0.25turn, #3E5C76, #0D1321, #3E5C76);
}

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 10%;
  color: #F0EBD8;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 5px;
}

#home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

#home-nav-container {
  position: absolute;
  width: 100%;
}

#home-nav-list {
  display: flex;
  justify-content: flex-end;
  text-shadow: 1px 1px 2px #0D1321, 0 0 1em #0D1321, 0 0 0.2em #0D1321;
}

#quotes-container {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 5%;
  background-color: rgba(0, 0, 0, .3);
}

#quotes {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 50px;
  align-items: center;
  font-family: cursive;
  opacity: .3;
}

#home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #F0EBD8;
}

#home-event-sale {
  margin: 20px auto;
}

#home-event-items {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}

#home-event-items :hover {
  display: flex;
  position: relative;
  box-shadow: 5px 5px 20px #F0EBD8, -5px -5px 20px #F0EBD8;
}

#home-bundle-items {
  display: flex;
  justify-content: space-evenly;
}

#home-bundle-items :hover {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 5px 5px 20px #F0EBD8, -5px -5px 20px #F0EBD8;
}


#shop-page {
  display: flex;
  flex-direction: column;
  height: inherit;
  background: linear-gradient(0.25turn, #3E5C76, #0D1321, #3E5C76);
}

#shopping-cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#shop-nav-list {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 80%;
  color: #F0EBD8;
  text-shadow: 1px 1px 2px #3E5C76, 0 0 1em #3E5C76, 0 0 0.2em #3E5C76;
}

#cart {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  box-shadow: 2px 2px 7px #0D1321, -2px -2px 7px #0D1321;
  background-color: rgba(0, 0, 0, .3);
  width: 80%;
  align-self: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
}

.cart-item:hover {
  box-shadow: 2px 2px 7px #F0EBD8, -2px -2px 7px #F0EBD8;
  position: relative;
}

#cart-item-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 161px;
  padding: 5px;
  margin: 4px;
  border-radius: 5px;
  overflow: auto;
  color: #F0EBD8;
}

.cart-item-images {
  width: 140px;
  height: 80px;
}

.cart-item-adjustments-container {
  display: flex;
  flex-direction: column;
}

#cart-item-price-container {
  display: flex;
}

.cart-item-price {
  color: #F0EBD8;
}

.cart-item-input {
  width: 50px;
}

#pricing-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.shop-images {
  height: inherit;
  width: inherit;
}

#shop {
  height: 100%;
  overflow: scroll;
}

#shop-items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 80%;
  margin: 10px auto;
  padding: 30px 30px;
  overflow: scroll;

}

.shop-items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  max-height: 100px;
  color: #F0EBD8;
  transition-duration: 350ms;
}

.shop-items:hover {
  position: relative;
  max-height: 140px;
  font-size: large;
  box-shadow: 5px 5px 14px #F0EBD8, -5px -5px 14px #F0EBD8;
  transition-duration: 350ms;
}

.shop-item-description,
.shop-item-price {
  align-self: center;
  margin: 0 10px;
}

.shop-button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #748CAB;
  border-radius: 5px;
  color: #F0EBD8;
}

.shop-button:active {
  box-shadow: 5px 5px 14px #0D1321, -5px -5px 14px #0D1321;
}

#game {
  color: #3E5C76;
}

#start {
  color: #748CAB;
}