html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  height: inherit;
}


.App {
  display: flex;
  flex-direction: column;
  height: inherit;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  background: linear-gradient(0.25turn, #3E5C76, #0D1321, #3E5C76);
}

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 20%;
  margin: 30px;
  background-color: #1D2D44;
  border: 5px solid #1D2D44;
  color: #F0EBD8;
}

#home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  text-align: center;
  color: #F0EBD8;
}

#shopping-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}